    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: hsl(47, 95%, 62%);
        min-height: 100vh;
    }
    
    form {
        width: 600px;
        background: hsla(0, 0%, 100%, 0.5);
        text-align: center;
        margin: auto;
        margin-top: 2em;
    }
    
    input,
    textarea,
    select {
        width: 60%;
    }
    
    @media screen and (max-width: 599px) {
        form {
            width: 320px;
        }
        input,
        textarea,
        select {
            width: 90%;
        }
    }
    
    #liste {
        margin: auto;
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #liste button {
        float: right;
    }
    
    .separe {
        clear: both;
        width: 66%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 0.5em;
        border-style: dashed;
    }
    
    h1 {
        text-align: center;
        width: 100%;
    }
    
    fieldset>legend {
        margin-left: calc(50% - 5em);
        display: block;
        font-weight: bold;
        font-size: 1.2em;
    }
    /* Liste de tâches */
    
    .duree {
        width: 50px;
        float: left;
    }
    
    .presenteTache {
        flex-grow: 1;
    }
    
    h2 {
        margin-top: 0;
        margin-bottom: 0.2em;
    }
    
    h2+p {
        margin-top: 0;
    }
    /* Listes de catégories de tâches*/
    
    section {
        width: 45%;
        min-width: 320px;
        border: 1px dotted grey;
        border-radius: 3rem;
        background: white;
        margin-top: 2rem;
    }
    
    h2 {
        text-align: center;
    }
    /*Tache*/
    
    .urgent,
    .urgent-unpeu,
    .urgent-tres {
        width: 25px;
        font-weight: bold;
        font-size: 2em;
        float: left;
    }
    
    .urgent {
        color: transparent;
    }
    
    .urgent-unpeu {
        color: green;
    }
    
    .urgent-tres {
        color: red;
    }
    /* Footer */
    
    footer {
        margin-top: 2rem;
        text-align: center;
    }